[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/esharet/meta-openembedded.git
[submodule "poky"]
	path = poky
	url = https://github.com/esharet/poky.git
[submodule "meta-mavlink"]
	path = meta-mavlink
	url = https://github.com/esharet/meta-mavlink.git
[submodule "mavlink-router"]
	path = mavlink-router
	url = https://github.com/esharet/mavlink-router.git
